@model Gallery
@{
    ViewData["Title"] = "Exclusão da Galeria de Imagens";

    // A Partial View reponsável pela exclusão de galerias é igualmente simples, ela apenas sumeterá os dados via formulário para a ação de excluir da controladora de galerias.  view recebe em um campo oculto o valor do Id da galeria e nos botões excluir e cancelar passamos a string de decisão definida na controladora para controlarmos o retorno ao usuário de acordo com o valor da decisão.
}

<!-- Partial View de Exclusão de Galerias -->

<div>

    <form asp-action="Delete" asp-controller="Gallery" method="post">

        <input type="hidden" asp-for="IdGallery">

        <div class="p-5">
            <span>Tem certeza que deseja excluir a galeria <b>@Model.Title</b>?</span>
        </div>

        <div class="modal-footer">

            <!-- Os botões excluir e cancelar ambos recebem a verificação de decisão para que seja controlado o retorno ao usuário -->

            <button class="btn btn-md btn-secondary" type="submit" name="decision" value="cancel" title="Cancelar"><i
                class="bi bi-arrow-return-left"></i></button>

            <button class="btn btn-md btn-danger" type="submit" name="decision" value="delete" title="Excluir"><i
                class="bi bi-trash"></i></button>
        </div>

    </form>

</div>

<!-- / Partial View de Exclusão de Galerias -->
