@model Gallery

@{
    ViewData["Title"] = "Cadastro de Galerias de Imagem";

    // A partial view que corresponde ao cadastro de galerias é representada pela Model de Galerias e receberá um formulário contendo os campos para cadastrar o título da galeria e os botôes de salvar e cancelar, ao cancelar o cadastro você será redirecionado para a index de galeria e ao salvar irá submeter os dados do formulário por método Post que passará pela controladora de galerias que validará os dados e dará o devido retorno.
}

<!-- Partial View de Cadastro de Galerias -->

<div>

    <p class="card-text p-4 m-0">Aqui você pode criar sua galeria e adicionar imagens via upload!</p>

    <form asp-action="Register" asp-controller="Gallery" method="post">

        <div class="form-group p-2 m-0">

            <input class="form-control mb-2 img-input" placeholder="Cadastrar Galeria" asp-for="@Model.Title" />
            <span class="text-danger mb-2" asp-validation-for="@Model.Title"></span>

        </div>

        <div class="modal-footer">

            <a asp-action="Index" class="btn btn-sm btn-secondary" title="Cancelar"><i
                class="bi bi-arrow-return-left"></i> </a>
            <button class="btn btn-sm btn-primary" type="submit" title="Salvar"><i
                class="bi bi-folder-plus"></i></button>

        </div>

    </form>

</div>

<!-- / Partial View de Cadastro de Galerias -->
