@model Gallery

@{
    ViewData["Title"] = "Edição da Galeria de Imagem";

    // A partial view que corresponde à atualização de galerias é idêntica à de cadastro de galerias, com a única diferença de que o formulário precisa conter de forma oculta o Id da galeria que será editada.
}

<!-- Partial View de Edição de Galerias -->

<div class="mt-2 mb-2">

    <form asp-action="Upgrade" asp-controller="Gallery" method="post">

        <input type="hidden" asp-for="IdGallery"> <!-- Id da galeria à ser editada -->

        <div class="form-group p-4">

            <input class="form-control" placeholder="Cadastrar Galeria" asp-for="@Model.Title" />
            <span class="text-danger" asp-validation-for="@Model.Title"></span>

        </div>

        <div class="modal-footer p-2">

            <a asp-action="Index" class="btn btn-md btn-secondary" title="Cancelar"><i class="bi bi-arrow-return-left"></i> </a>
            <button class="btn btn-md btn-primary" type="submit" title="Editar"><i class="bi bi-pencil"></i> </button>

        </div>

    </form>

</div>

<!-- / Partial View de Edição de Galerias -->
