<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Gianluca Vialli">

    <title>@ViewData["Title"] - Galeria</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/css/styleGallery.css" asp-append-version="true" />

    <!-- Link de implementação do css da biblioteca de ícones do bootstrap (Bootstrap Icons) -->
    <link rel="stylesheet" href="/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true" />
    <!-- Link de implementação do css da ferramenta LightBox 2 -->
    <link rel="stylesheet" href="/lib/lightbox2/css/lightbox.min.css" asp-append-version="true" />

</head>

<body>

    <header>

        <nav class="navbar navbar-expand-lg navbar-toggleable-md navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ImageGallery</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>

                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <ul class="navbar-nav ml-auto mr-5 text-center">

                        <li class="nav-item">

                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-fill"></i> Home</a>

                        </li>

                        <li class="nav-item">

                            <a class="nav-link text-light" asp-area="" asp-controller="Gallery" asp-action="Index"><i class="bi bi-file-earmark-image-fill"></i> Galerias</a>

                        </li>

                    </ul>

                </div>

            </div>

        </nav>

    </header>

    <div class="container">

        <main role="main" class="pb-3">

            @RenderBody()

        </main>
    </div>

    <footer class="border-top footer text-muted text-center">

        <div class="container">

           <a href=""><i class="bi bi-calendar2-month-fill"></i></a> <a href="">- @DateTime.Now.ToString("dd/MM/yyyy")
                - </a> <a href="https://github.com/Gianluca-Vialli"><i class="bi bi-github"></i>
                Gianluca-Vialli</a> - <a href="https://www.linkedin.com/in/gianluca-vialli-5a2a8a226/"><i class="bi bi-linkedin"></i> My
                LinkedIn</a>

        </div>

    </footer>
    
    @RenderSection("Scripts", false)

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Tag script para utilização da Ferramenta LightBox 2 -->
    <script src="/lib/lightbox2/js/lightbox-plus-jquery.min.js" asp-append-version="true"></script>

    <!-- Tag script para utilização do recurso de paginação das imagens na vitrine da galeria -->
    <script asp-append-version="true">
        lightbox.option({
            'albumLabel' : 'Imagem %1 de %2'
        });
    </script>

</body>
</html>
